{% extends 'rooms/base.html' %}

{% block content %}
<h1>Blocks</h1>
{% for block in blocks %}
<div class="row">
  <div class="col py-2">
    <div class="card h-10 text-white bg-dark">
      <div class="card-body">
        <h3 class="card-title">{{ block.name }}</h3>
        <p class="card-text">
          {{ block.get_available_capacity }} place available
        </p>
        <a href="{% url 'rooms:block_detail' pk=block.pk %}" class="btn btn-outline-primary">Details</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
